@import url(https://fonts.googleapis.com/css?family=Anaheim);
 @import url(https://fonts.googleapis.com/css?family=Inconsolata);

 .cc {
	 background: #174395;
	 border-radius: 20px;
	 height: 310px;
	 margin: 50px;
	 overflow: hidden;
	 padding: 20px;
	 position: relative;
	 width: 490px;
}
 .shine {
	 background: rgba(255, 255, 255, 0.05);
	 left: 390px;
	 top: 0;
	 margin: 0 15px 0 0;
	 padding: 0;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 -webkit-transform: skew(50deg);
	 -moz-transform: skew(50deg);
	 -ms-transform: skew(50deg);
	 -o-transform: skew(50deg);
	 transform: skew(50deg);
}
 .shine-layer-two {
	 -webkit-transform: skew(80deg);
	 -moz-transform: skew(80deg);
	 -ms-transform: skew(80deg);
	 -o-transform: skew(80deg);
	 transform: skew(80deg);
}
 h2 {
	 font: 22px Anaheim;
	 color: #fff;
	 margin: 0 10px 10px 0;
	 padding: 0;
	 text-align: right;
}
 span {
	 text-transform: uppercase;
}
 .number, .date {
	 margin-bottom: 10px;
}
 .provider {
	 display: inline-block;
	 margin: 0 10px 10px 0;
	 width: 71px;
	 height: 44px;
}
 .mastercard, .visa, .amex {
	 background: url(http://pmullen.com/codepen/63JxOEI.png);
	 text-indent: 100%;
	 white-space: nowrap;
	 overflow: hidden;
}
 .amex {
	 background-position: 71px 0;
}
 .visa {
	 background-position: 147px 0;
}
.card_border {
	 background: #ececec;
	 border: 0;
	 border-radius: 4px;
	 font: 20px Inconsolata, sans-serif;
	 color: #303030;
	 margin: 0 2px 3px 0;
	 padding: 8px 10px;
	 text-align: center;
	 width: 24%;
	 -moz-box-shadow: 1px 1px 0px 1px #0e306e;
	 -webkit-box-shadow: 1px 1px 0px 1px #0e306e;
	 box-shadow: 1px 1px 0px 1px #0e306e;
	 position: relative;
	 z-index: 10;
}
.card_border:nth-child(4) {
	 margin-right: 0;
}
 .date input {
	 margin-right: 20px;
}
 .valid {
	 position: relative;
	 margin-right: 10px;
	 width: 40px;
}
 .full-name {
	 width: 100%;
	 text-align: left;
}
 .instructions {
	 letter-spacing: 1px;
	 font: 12px Anaheim, sans-serif;
	 color: #ace4fa;
}
 